 {% extends "base.html" %}
 {% import "bootstrap/wtf.html" as wtf %}

{% block body %}
  {% block navbar %}
    {{ super() }}
  {% endblock %}
     
  {% block content %}
     <div class="container">
       <div class="col-md-4">
       {{ wtf.quick_form(form) }}
       <h1></h1>
       <p>
	 <a href="{{ url_for('auth.register') }}">
	  Get a New Username 
	 </a>
	<div class="line"></div>
	 Sign in with one of the following
       </p>
       </div>
     </div>
   {% endblock %}

   {% block foot %}
     {{ super() }}
   {% endblock %}

   {% block scripts %}
     {{ super() }}
   {% endblock %}
{% endblock %}
