 {% extends "base.html" %}
 {% import "bootstrap/wtf.html" as wtf %}
 <html>
   <head>
     {% block head %}
       {{ super() }}
     {% endblock %}
   </head>

   <body>
     {% block body %}
     <div class="container">
     {% block page_content %}
       <div class="page-header"></div>
       <div class="col-md-4">
       {{ wtf.quick_form(form) }}
       <h1></h1>
       <p>
	 <a href="{{ url_for('auth.register') }}">
	  Get a New Username 
	 </a>
	 <br>
	<div class="line"></div>
	 <br>
	 Sign in with one of the following
       </p>
       </div>
     {% endblock %}
     </div>
     {{ super() }}
     {% endblock %}
   </body>
</html>
