{% extends "bootstrap/base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
  {% block head %}
    {{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>

    {% block title %}Blog Template for Bootstrap{% endblock %}
    <!-- Custom styles for this template -->
    <link href="../static/blog.css" rel="stylesheet">
  {% endblock %}
  </head>
  
  <body>
  {% block body %}
    {{ super() }}

    {% block scripts %}
      {{ super() }}
      {{ moment.include_moment() }}
    {% endblock %}

    {% block navbar %}
    {{ super() }}
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle=    "collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar    ">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
	    <a class="navbar-brand" href="#">PN</a>
	  </div>
	  <div id="navbar" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="/">Home</a></li>
	      <li><a href="#about">A</a></li>
	      <li><a href="#contact">C</a></li>
	      <li> 
	        <form class="navbar-form" role="search">
		  <div class="form-group">
		    <input type="text" class="form-control" placeholder="Search">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	      </li>
	      <ul class="nav navbar-nav navbar-right">
	        {% if current_user.is_authenticated() %}
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
		    aria-haspopup="true" aria-expanded="false">{{ current_user.username }}<span class=                    "caret"></span></a>
		  <ul class="dropdown-menu">
		    <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
		    <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
		  </ul>
		</li>
		{% else %}
		<li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
		{% endif %}
	      <li><a href="#">English</a></li>
	    </ul>
	  </div><!--/.nav-collapse -->
	</div>
      </nav>
  {% endblock %}

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
          </div><!-- /.blog-post -->
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module ">
          </div>
          <div class="sidebar-module">
          </div>
          <div class="sidebar-module">
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    {% block foot %}
    <footer class="blog-footer">
      <div class="container">
      <p>The template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="getbootstrap.com/examples/blog">The Blog Example</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
      </div>
    </footer>
    {% endblock %}

  {% endblock %}
  </body>
</html>
