{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{% block navbar %}
  {{ super() }}
  <div class="container">
   <div class="row">
     <div class="col-sum-8 blog-main">
       <div class="blog-post">
         <div class="page-header">
	   <h1>Edit Post</h1>
	 </div>
	 <div>
	   {{ wtf.quick_form(form) }}
	 </div>
       </div>
     </div>
     <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
       <div class="sidebar-module">
       </div>
     </div>
   </div>
  </div>
{% endblock %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
