{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block body %}
 
  {% block navbar %}
    {{ super() }}
  {% endblock %}

  {% block content %}
  <h1></h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 blog-main">
      
        <div class="blog-post">
	    {% if current_user.can(Permission.WRITE_ARTICLES) %}
	    <div class="post-form">
	    {{ wtf.quick_form(form) }}
	    </div>
	    {% endif %}
	  <p></p>
	  <p>{% include '_posts.html' %}</P>
	  <div class="pagination">
	    {{ macros.pagination_widget(pagination, '.index') }}
	  </div><!-- pagination -->

        </div><!-- blog-post -->
      </div><!-- blog-main-->
      
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module">
	  <img class="img-circle" src="../static/favicon.ico" >
	</div>
      </div><!-- /.blog-sidebar --> 

    </div>
  </div>
  {% endblock %}<!-- block content -->
  
  {% block foot %}
    {{ super() }}
  {% endblock %}


  {% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
  {% endblock %}

{% endblock %} <!-- block body -->
