{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block body %}

  <div class="container">
    <div class="blog-header">
    <div>

    <div class="row">
    </div>

    <div class="row">
      
      <div class="col-sm-8 blog-main">
      
        <div class="blog-post">
	  <h1></h1>
	  <div>
	    {% if current_user.can(Permission.WRITE_ARTICLES) %}
	    {{ wtf.quick_form(form) }}
	    {% endif %}
	  </div>
	  {% include '_posts.html' %}
	  <div class="pagination">
	    {{ macros.pagination_widget(pagination, '.index') }}
	  </div>


        </div>
      </div>

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module">
	  <h4>Archives</h4>
	  <ol class="list-unstyled">
	    <li><a href="#">test</a></li>
	  </ol>
	</div>
      </div><!-- /.blog-sidebar -->

    </div>
  </div>

  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ pagedown.include_pagedown() }}
{% endblock %}
